apiVersion: v1
kind: Secret
metadata:
  name: novacms-secrets
  namespace: default
type: Opaque
stringData:
  APP_KEY: "base64:REPLACE_WITH_REAL_KEY"
  DB_PASSWORD: "REPLACE_WITH_DB_PASSWORD"
  REDIS_PASSWORD: "REPLACE_WITH_REDIS_PASSWORD"
  REVERB_APP_SECRET: "REPLACE_WITH_REVERB_SECRET"
  REVERB_APP_ID: "novacms"
  REVERB_APP_KEY: "novacms-key"
  GRAFANA_ADMIN_USER: "admin"
  GRAFANA_ADMIN_PASSWORD: "REPLACE_WITH_GRAFANA_PASSWORD"
